<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="ivy">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://p2.axonivy.com/p2/13.1/"/>
			<unit id="ch.ivyteam.ivy.designer.product" version="13.1.1"/>
		</location>
	</locations>
</target>